.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid #D5D5D5;
    border-radius: 5px;
}

.image-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
}

.image-item:hover::before {
    opacity: 1;
    cursor: pointer;
}

.image-item:active::before{
    background: none;
    
}

.image-content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.image-item input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.image-item:hover input[type="checkbox"] {
    opacity: 1;
    pointer-events: all;
    background-color: aqua;
    transform: translate(15px, 15px) scale(2);
}

.image-item:active input[type="checkbox"]{
    display: none;
}

.image-item input[type="checkbox"]:checked {
    opacity: 1;
    pointer-events: all;
    background-color: aqua;
    transform: translate(15px, 15px) scale(2);
}

.first-image {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


