.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
  justify-content: center;
  padding-bottom: 30px;
  /* Add other styles as needed */
}