.app {
  width: auto;
  max-width: 1216px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px 0px, rgba(0, 0, 0, 0.06) 1px 0px 8px 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3%;
  padding-right: 3%;

}
.title {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.delete-text {
  font-size: 20px;
  font-weight: bold;
  color: #E85A49;
  cursor: pointer;
}

.border {
  border-bottom: 2px solid #D5D5D5;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.checkbox-container input[type="checkbox"] {
  transform: scale(1.5); 
  margin-right: 5px;
}



